*{
    margin: 0;
    padding: 0;
}

#slider {
    height:200px;
    width:800px;
    overflow:hidden;
}

#slider img {
    height: 200px;
    width: 300px;
    float: left;
}

#slider ul {
    list-style: none;
    height:200px;
    width:1500px;
    position:relative;
}

#slider li {
    display: inline;
}

#mouseover {
    height: 45px;
    width: 45px;
    margin: 50px;
    background-color: black;
}

.caption-style-3{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.caption-style-3 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-3 li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.caption-style-3 li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);

}


.caption-style-3 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.caption-style-3 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:300px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

}

.caption-style-3 img{
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

}
.caption-style-3 .blur{
    background-color: rgba(142, 68, 173,0.95);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.caption-style-3 .caption-text h1{
    text-transform: uppercase;
    font-size: 18px;
}

.caption-style-3 .caption-text{
    z-index: -10;
    color: black;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    left:-105px;

}
}