<!doctype html>
<html lang="<%= I18n.locale %>">

<%= form_for(@instagram) do |f| %>
  <%= f.label(:enabled, "Enable" ) %>
  <%= f.check_box :enabled, {}, true, false %><br>
  <br>
  <%= f.label(:token, "Token") %><br>
  <%= f.text_field(:token) %><br>
  <%= f.label(:client_id, "Client id") %><br>
  <%= f.text_field(:client_id) %><br>
  <%= f.label(:number, "Number of Pictures") %><br>
  <%= f.text_field(:number) %><br><br>
  <%= f.submit("Save") %>
          <A href="http://localhost:3000/admin/button.html"<button>Populate</button></a><br><br>
          <%= button_to 'Populate', "/button", method: :get %><br>
      <% end %>
      </div>

<% x = 0
   while x < $instagram_pictures%>
  <% if File.file?("app/assets/images/instagram#{x}.jpg") %>
    <%= image_tag "instagram#{x}.jpg", :style=>"height: 200px; width:200px";%>
  <% else %>
    <%= image_tag "instagram-default.jpg", :style=>"height: 200px; width:200px";%>
  <% end %>
  <% x += 1 %>
<% end %>

